<!DOCTYPE html>
<html>
    <head>
        <title>Oh oh!</title>
        <link rel="icon" type="image/png" href="https://www.pngitem.com/pimgs/m/136-1361476_url-chain-link-png-image-background-twitter-link.png"/>
    </head>
    <body>
        <script>
            document.body.style.zoom = "500%";
        </script>
        <h1 style="text-align:center; margin: auto; font-size: 25px;"> Sorry! </h1>
        <div style="text-align:center; margin: auto; font-size: 25px;">
            {{ message }}
        </div>
        <div style="text-align:center; margin: auto; font-size: 25px;">
            <a href="/register"> Go back</a>
        </div>
    </body>
</html>
